body{
    background: #3c3d3d;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#boxbody{
    border: 4px solid #12343b;
    width: 400px;
    height: 700px;
    position: relative;
    background-color: #3473bb;
    top: 100px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px 5px #12203b;
}

h1{  
    color: black;
    font-size: 25px;
    font-family: "Archivo Black", sans-serif;
    font-weight: 100;
    position: relative;
    left: 150px;
    top: 15px;
}

#nametext{  
    color: black;
    font-size: 15px;
    font-family: "comfortaa", sans-serif;
    font-weight: 100;
    position: relative;
    left: 150px;
    top: -5px;
}

a.icons {
    display: block;
    color: #000000;
    text-decoration: none;
    user-select: none; 
    position: relative;
    top: -50px;
    left: 320px;
}

#hometext{  
    color: black;
    font-size: 15px;
    font-family: "comfortaa", sans-serif;
    font-weight: 100;
    text-align: center;
    position: absolute;
    left: 61px;
    top: 125px;
    width: 400px;

}

a.homelinks {
    display: block;
    padding: 6px; 
    color: #000000;
    text-decoration: none;
    transition: .3s;
    width: 45%;
    user-select: none; 
}

a.homelinks:hover {
    cursor: pointer;
    user-select: none;
    width: 45%;
    background-color: #eee;
    color: #292929;
}


#activitytext{  
    color: black;
    font-size: 15px;
    font-family: "comfortaa", sans-serif;
    font-weight: 100;
    position: relative;
    left: 60px;
    top: 20px;
}

#boximg{
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 15px;
    left: 25px;
}

.image img{
    width: 90px;
    border-radius: 50%;
    border: 3px solid #0049B7;
}

a.links {
    display: block;
    padding: 8px; 
    color: #000000;
    text-decoration: none;
    transition: .3s;
    width: 65%;
    user-select: none; 
}

a.links:hover {
    cursor: pointer;
    user-select: none;
    width: 65%;
    background-color: #eee;
    color: #292929;
}


ul.square {
    list-style-type: square;
}

.no-text-cursor {
  cursor: default; 
  user-select: none; 
}

.hide-caret {
  caret-color: transparent;
}

a.backbtn {
    color: #000000;
    font-family: "comfortaa", sans-serif;
    position: relative;
    left: 80px;
    top: 50px;
    text-decoration: none;
    font-size: 15px;
    user-select: none; 
}